@font-face {
  font-family: "SF Display";
  src: url(fonts/SF-Pro-Display-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Display";
  src: url(fonts/SF-Pro-Display-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF Text";
  src: url(fonts/SF-Pro-Text-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Text";
  src: url(fonts/SF-Pro-Text-Semibold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Text";
  src: url(fonts/SF-Pro-Text-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

$max-width: 80%;

$grey: #dfe4ec;

$primary-blue: #122545;

$primary-orange: #ff5740;

$second-blue: #4385f5;

$space-little: 25px;

$transition-duration: .2s;

$offset-header: 70px;

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "SF Text", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: $primary-blue;
  color: $grey;
}

strong{
  font-weight: 700;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $grey;
  .header-navbar {
    width: $max-width;
    margin: 0 auto;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    color: $primary-blue;
    img {
      height: 32px;
      margin: 15px 0;
    }
    &-navigation {
      display: flex;
      align-items: center;
      font-weight: 600;
      li {
        padding-left: 77px;
        .current-navigation{
          color: $primary-orange;
          text-decoration: underline;
        }
        a{
          transition-duration: $transition-duration;
          &:hover{
            text-decoration: underline;
          }
        }

      }
    }
  }
}

.max-width{
  width: $max-width;
  margin: 150px auto 0 auto;
}

.section-main-title {
  padding-top: $offset-header;
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 3rem;
}

.section-second-title {
  padding-top: $offset-header;
  color: $primary-orange;
  font-size: 2.2rem;
  margin-bottom: 100px;
}

.webinaire-informations-date-time{
  border-bottom: 4px solid $primary-orange;
  padding-bottom: 5px;
}

#first-section {
  background-color: rgba(16, 63, 142, 0.2);
  justify-content: center;
  align-items: center;
  padding: 160px 0;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  #tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    canvas {
      position: static !important;
    }
  }
  form {
    padding-top: 80px;
  }
  h1{
    max-width: 840px;
    padding-bottom: 20px;
  }
}

#section-dispositif{
  .section-second-title{
    margin-bottom: $space-little;
  }
  #section-dispositif-content{
    display: flex;
    justify-content: space-between;
  }
}

#container-advantage{
  display: flex;
  justify-content: space-between;
  .advantage-item{
    max-width: 257px;
    text-align: center;
    .advantage-item-image{
      margin: 0 auto 26px auto;
      display: flex;
      justify-content: center;
      overflow: hidden;
      width: 113px;
      height: 113px;
      border-radius: 50%;
    }
    h2{
      font-weight: 700;
      font-size: 1.3rem;
      margin-bottom: 10px;
    }
    p{
      line-height: 1.3rem;
    }
  }
}

#dispostif-insight{
  max-width: 563px;
  #dispositif-insight-title{
    margin-bottom: 32px;
    .dispositif-insight-button{
      margin-right: 45px;
      font-weight: 600;
      transition-duration: $transition-duration;
      &:hover{
        text-decoration: underline;
      }
      &[aria-selected='true']{
        color: $second-blue;
        text-decoration: underline;
      }
    }
  }
}

.container-date {
  h2 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
}

#container-item-insight {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 900px;
  margin: 100px auto 144px auto;
  .item-insight {
    text-align: center;
    padding: 30px 80px;
    .item-insight-icon {
      color: $primary-orange;
      margin-bottom: 18px;
    }
  }
  .item-insight:nth-child(-n+3){
    border-bottom: 1px solid $primary-orange;
  }
  .item-insight:nth-child(3n+1),
  .item-insight:nth-child(3n+2){
    border-right: 1px solid $primary-orange;
  }
}
#container-video {
  display: flex;
  justify-content: center;
  iframe {
    width: 100%;
    margin: 0 130px;
    height: 500px;
  }
}

#figure-quote{
  max-width: 440px;
  blockquote {
    font-size: 1.9rem;
    line-height: 2.3rem;
  }
  figcaption {
    margin-top: 14px;
  }
  .quotation-mark{
    font-family: 'Redressed', cursive;
    color: $primary-orange;
    font-size: 4rem;
  }
}

#container-webinaire-information{
  display: flex;
  justify-content: space-between;
  #webinaire-presentation{
    max-width: 565px;
    h1{
      margin-bottom: 32px;
    }
    p{
      margin-bottom: 33px;
    }
  }
  #webinaire-informations{
    padding-top: $offset-header;
    max-width: 363px;
    font-weight: 700;
    #webinaire-informations-next{
      margin-bottom: 43px;
    }
    h2{
      margin-bottom: 10px;
      font-size: 1.4rem;
    }
    #webinaire-informations-subject{
      margin-bottom: 15px;
    }
  }
}

#section-webinaire{
  .form-email{
    text-align: center;
    .container-email-input{
      margin: 15px auto 0 auto;
    }
  }
}

.form-email {
  margin-top: 103px;
  .container-email-input {
    margin: 15px 0;
    display: flex;
    background-color: #dfe4ec;
    border-radius: 25px;
    width: fit-content;
  }
  input {
    padding: 10px 20px;
    width: 290px;
  }
  input::placeholder {
    color: $primary-blue;
  }
  button {
    background-color: $second-blue;
    border-radius: inherit;
    padding: 0 20px;
    color: $grey;
    font-weight: 600;
  }
}

footer{
  margin-bottom: 0;
  > div {
    display: flex;
    justify-content: space-between;
    h1.section-second-title{
      color: $grey;
      padding-top: 33px;
      border-top: 3px solid $primary-orange;
    }
    ul{
      margin-top: 30px;
      li{
        margin: 10px 0;
      }
      li:nth-child(2){
        margin: 68px 0 44px 0;
      }
    }
  }
  #footer-copyright{
    background-color: $grey;
    color: $primary-blue;
    width: 100%;
    margin-top: 32px;
    .max-width{
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    p{
      margin: 30px 0;
      font-weight: 600;
      a{
        margin-left: 15px;
      }
    }
  }
}
