@font-face {
  font-family: "SF Display";
  src: url(fonts/SF-Pro-Display-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Display";
  src: url(fonts/SF-Pro-Display-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF Text";
  src: url(fonts/SF-Pro-Text-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Text";
  src: url(fonts/SF-Pro-Text-Semibold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Text";
  src: url(fonts/SF-Pro-Text-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

$max-width: 80%;

$grey: #dfe4ec;

$primary-blue: #122545;

$primary-orange: #ff5740;

$second-blue: #4385f5;

$space-little: 25px;

$transition-duration: 0.2s;

$offset-header: 70px;

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "SF Text", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: $primary-blue;
  color: $grey;
}

strong {
  font-weight: 700;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $grey;
  .header-navbar {
    width: $max-width;
    margin: 0 auto;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    color: $primary-blue;
    img {
      height: 32px;
      margin: 15px 0;
    }
    &-navigation {
      display: flex;
      align-items: center;
      font-weight: 600;
      li {
        padding-left: 77px;
        .current-navigation {
          color: $primary-orange;
          text-decoration: underline;
        }
        a {
          transition-duration: $transition-duration;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.max-width {
  width: $max-width;
  margin-left: 150px;
}

.section-second-title {
  padding-top: $offset-header;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 100px;
}

.webinaire-informations-date-time {
  border-bottom: 4px solid $primary-orange;
  padding-bottom: 5px;
}

#first-section {
  padding: 160px 0;
  margin: 0 auto;
  position: relative;

  .main-section-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .main-section-title-container {
      .section-main-title {
        padding-bottom: $offset-header;
        padding-top: $offset-header;
        font-weight: 400;
        font-size: 2.7rem;
        line-height: 3rem;
        width: 34vw;
        span {
          font-weight: 700;
        }
      }
      button {
        background-color: #ff5740;
        border-radius: 30px;
        height: 42px;
        width: 229px;
      }
    }
    /* ---------- Container for the orbiting circles animation ---------- */
    #circle-orbit-container {
      position: relative;
      height: 437px;
      width: 437px;
      #inner-orbit {
        position: absolute;
        top: 153.37px;
        left: 153.37px;
        width: 130.26px;
        height: 130.26px;
        border: 2px #dfe4ec solid;
        border-radius: 100%;
        -webkit-animation: spin-right 5s linear infinite;
        animation: spin-right 5s linear infinite;
        .inner-orbit-circle {
          position: absolute;
          top: 62px;
          left: -13px;
          height: 30.72px;
          width: 30.72px;
          border-radius: 100%;
          background-color: #dfe4ec;
        }
      }
      #middle-orbit {
        position: absolute;
        top: 99.07px;
        left: 99.07px;
        width: 238.85px;
        height: 238.85px;
        border: 2px #dfe4ec solid;
        border-radius: 100%;
        -webkit-animation: spin-right 10s linear infinite;
        animation: spin-right 10s linear infinite;
        .middle-orbit-circle {
          position: absolute;
          top: 25px;
          left: 17px;
          height: 26.88px;
          width: 26.88px;
          border-radius: 100%;
          background-color: #dfe4ec;
        }
      }
      #outer-orbit {
        position: absolute;
        top: 0;
        left: 0;
        width: 437px;
        height: 437px;
        border: 2px #dfe4ec solid;
        border-radius: 100%;
        -webkit-animation: spin-left 25s linear infinite;
        animation: spin-left 25s linear infinite;
        .outer-orbit-first-circle {
          position: absolute;
          top: -17px;
          left: 125px;
          height: 56.73px;
          width: 56.73px;
          border-radius: 100%;
          background-color: #dfe4ec;
        }
        .outer-orbit-second-circle {
          position: absolute;
          top: 411px;
          left: 288px;
          height: 22.06px;
          width: 22.06px;
          border-radius: 100%;
          background-color: #dfe4ec;
        }
      }
    }
    @keyframes spin-right {
      100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes spin-left {
      100% {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
      }
    }
  }
  .confucius-quote {
    position: absolute;
    background: #dfe4ec;
    border: 1px solid #234174;
    box-sizing: border-box;
    bottom: -100px;
    color: black;
    text-align: center;
    line-height: 29px;
    width: 566px;
    height: 201px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    #figure-quote {
      max-width: 440px;
      blockquote {
        font-size: 24px;
        line-height: 29px;
      }
      .quotation-mark {
        font-family: "Redressed", cursive;
        color: $primary-orange;
        font-size: 4rem;
      }
    }
    figcaption {
      font-weight: bold;
      font-size: 1rem;
      margin-top: 14px;
    }
  }
}

#section-dispositif {
  background-color: #1b2d4b;
  height: 630px;
  display: flex;
  align-items: center;
  position: relative;
  .section-second-title {
    margin-bottom: $space-little;
    display: flex;
    flex-flow: column;
    .section-second-title-orange {
      color: rgba(255, 87, 64, 0.6);
    }
  }
  #section-dispositif-content {
    justify-content: space-between;
    font-size: 1rem;
    #dispostif-insight {
      max-width: 563px;
      #dispositif-insight-title {
        margin-bottom: 32px;
        .dispositif-insight-button {
          margin-right: 45px;
          font-weight: 600;
          color: rgba(223, 228, 236, 0.6);
          transition-duration: $transition-duration;
          &:hover {
            text-decoration: underline;
          }
          &[aria-selected="true"] {
            color: $primary-orange;
            text-decoration: underline;
          }
        }
      }
    }
    .whoimg {
      position: absolute;
      top: 7vw;
      right: 0;
    }
  }
}

#section-entrepreneurship {
  height: 40.25rem;
  display: flex;
  div {
    h1 {
      display: flex;
      justify-content: center;
      font-size: 2.25rem;
      margin-top: 9.5rem;
      margin-bottom: 12.375rem;
      font-weight: 700;
      font-family: "SF DISPLAY";
    }
    #container-advantage {
      display: flex;
      justify-content: space-around;
      width: 913px;
      margin-left: 10vw;
      .advantage-item {
        max-width: 257px;
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .background-number {
          position: absolute;
          font-size: 288px;
          line-height: 344px;
          text-align: center;
          color: rgba(255, 87, 64, 0.4);
          z-index: -1;
        }
        .background-number::selection {
          display: none;
        }
        p {
          line-height: 1.3rem;
        }
      }
    }
  }
}

.container-date {
  h2 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
}

.webinar-section {
  background-color: #1b2d4b;
  max-height: 712px;
  div {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    .webinar-text-container {
      margin-top: 9.5rem;
      width: 506px;
      h1 {
        font-size: 2.25rem;
        font-weight: 700;
        font-family: "SF DISPLAY";
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        line-height: 2.375rem;
        margin-bottom: 2rem;
        span:first-child {
          color: $primary-orange;
        }
      }
      p {
        line-height: 1.193125rem;
        margin-bottom: 1rem;
        span {
          font-weight: 700;
        }
      }
      div {
        p {
          color: $primary-orange;
        }
      }
    }
  }
}
#container-webinaire-information {
  display: flex;
  justify-content: space-between;
  #webinaire-presentation {
    max-width: 565px;
    h1 {
      margin-bottom: 32px;
    }
    p {
      margin-bottom: 33px;
    }
  }
  #webinaire-informations {
    padding-top: $offset-header;
    max-width: 363px;
    font-weight: 700;
    #webinaire-informations-next {
      margin-bottom: 43px;
    }
    h2 {
      margin-bottom: 10px;
      font-size: 1.4rem;
    }
    #webinaire-informations-subject {
      margin-bottom: 15px;
    }
  }
}

#section-webinaire {
  .form-email {
    text-align: center;
    .container-email-input {
      margin: 15px auto 0 auto;
    }
  }
}

.form-email {
  margin-top: 103px;
  .container-email-input {
    margin: 15px 0;
    display: flex;
    background-color: #dfe4ec;
    border-radius: 25px;
    width: fit-content;
  }
  input {
    padding: 10px 20px;
    width: 290px;
  }
  input::placeholder {
    color: $primary-blue;
  }
  button {
    background-color: $second-blue;
    border-radius: inherit;
    padding: 0 20px;
    color: $grey;
    font-weight: 600;
  }
}

footer {
  margin-bottom: 0;
  > div {
    display: flex;
    justify-content: space-between;
    h1.section-second-title {
      color: $grey;
      padding-top: 33px;
      border-top: 3px solid $primary-orange;
    }
    ul {
      margin-top: 30px;
      li {
        margin: 10px 0;
      }
      li:nth-child(2) {
        margin: 68px 0 44px 0;
      }
    }
  }
  #footer-copyright {
    background-color: $grey;
    color: $primary-blue;
    width: 100%;
    margin-top: 32px;
    .max-width {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    p {
      margin: 30px 0;
      font-weight: 600;
      a {
        margin-left: 15px;
      }
    }
  }
}
