// import police title (SF Display)
@font-face {
  font-family: "SF Display";
  src: url(./fonts/SF-Pro-Display-Light.otf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "SF Display";
  src: url(./fonts/SF-Pro-Display-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Display";
  src: url(./fonts/SF-Pro-Display-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

// Import police title (SF Text)
@font-face {
  font-family: "SF Text";
  src: url(./fonts/SF-Pro-Text-Light.otf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "SF Text";
  src: url(./fonts/SF-Pro-Text-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Text";
  src: url(./fonts/SF-Pro-Text-Semibold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Text";
  src: url(./fonts/SF-Pro-Text-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

$max-width: 80%;

$grey: #dfe4ec;

$primary-blue: #122545;

$second-blue: #1b2d4b;

$primary-orange: #ff5740;
$second-orange: rgba(255, 87, 64, 0.6);

$boxshadow-focus: 0px 0px 0px 4px $second-orange;

$space-little: 25px;

$transition-duration: 0.2s;

$offset-header: 70px;

$offset-large: 152px;
$offset-medium: 104px;
$offset-small: 32px;

/* ---------- Container for the orbiting circles animation ---------- */
@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}
@mixin animate($animation, $delay) {
  animation: $animation 0.5s $delay forwards;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "SF Text", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: $primary-blue;
  color: $grey;
}

strong,
b {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SF Display", sans-serif;
}

a,
button,
svg path {
  transition-duration: $transition-duration;
}

.color-orange {
  color: $primary-orange;
}

.btn-cta {
  background-color: $primary-orange;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  border: 2px solid transparent;
  &:hover {
    background-color: white;
    border-color: $primary-orange;
    color: $primary-orange;
  }
  &:active {
    border-color: transparent;
  }
  &:focus-visible {
    background-color: white;
    border-color: $primary-orange;
    color: $primary-orange;
    box-shadow: $boxshadow-focus;
  }
}

#section-dispositif .flickity-page-dots,
#section-testimony .flickity-page-dots,
#section-benefice .flickity-page-dots {
  margin-top: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  .dot {
    background-color: rgba(255, 87, 64, 0.2);
    opacity: 1;
    width: 50px;
    height: 4px;
    border-radius: 5px;
    transition-duration: 0.2s;
  }
  .is-selected {
    background-color: $primary-orange;
    width: 100px;
  }
}

.container-external-link {
  display: flex;
  a.external-link {
    align-items: center;
    display: flex;
    font-weight: 700;
    color: $primary-orange;
    border-bottom: 1px solid transparent;
    padding: 2px;
    svg {
      padding-left: 5px;
    }

    &:hover {
      border-bottom-color: $second-orange;
    }
    &:active {
      color: $grey;
      svg path {
        fill: $grey;
      }
    }
    &:focus-visible {
      border-bottom-color: $second-orange;
      color: $grey;
      svg path {
        fill: $grey;
      }
      box-shadow: $boxshadow-focus;
    }
  }
}

.quote {
  display: inline;
  width: 15px;
  &-close {
    transform: scale(-1);
  }
}

.out-of-flow {
  position: absolute;
  background: $grey;
  border: 1px solid #234174;
  color: $primary-blue;
  text-align: center;
  z-index: 1;
}

.max-width {
  width: $max-width;
  margin: 0 auto;
  padding: 152px 0;
}

.btn-close {
  width: 40px;
  height: 40px;
  color: $primary-orange;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  &:hover {
    background-color: $grey;
    border-color: $primary-orange;
  }
  &:active {
    border-color: transparent;
  }
  &:focus-visible {
    background-color: $grey;
    border-color: transparent;
    box-shadow: $boxshadow-focus;
  }
}

.container-newtworks {
  margin-bottom: 2rem;
  a {
    margin-right: 25px;
  }
}

.section-second-title {
  //padding-top: $offset-header;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  .section-second-title-orange {
    color: $second-orange;
  }
}

.container-modale {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  visibility: hidden;
  opacity: 0;
  transition-duration: $transition-duration;
}

.modale-is-open {
  .container-modale {
    visibility: visible;
    opacity: 1;
  }
  #aside-menu {
    transform: translateX(0);
  }
  &.container-modale {
    visibility: visible;
    opacity: 1;
  }
}

#container-modale-inscription {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  #modale-inscription {
    transition-duration: $transition-duration;
    z-index: 20;
    position: relative;
    max-width: 720px;
    background-color: $primary-blue;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
    border: 1px solid $primary-orange;
    padding: 123px 50px;
    > div {
      display: flex;
      justify-content: right;
      margin-bottom: 43px;
    }
    h2 {
      text-align: center;
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.3rem;
      text-transform: uppercase;
    }
    &-description {
      margin: 1rem 0;
      line-height: 1.2rem;
    }
    &-close {
      position: absolute;
      top: 40px;
      right: 40px;
    }
    &-form {
      &.email-error {
        input {
          color: $primary-orange;
        }
        #modale-inscription-form-error {
          display: block;
          color: $primary-orange;
          font-weight: 100;
        }
      }
      margin: 1rem 0;
      text-align: right;
      width: 300px;
      input {
        width: 100%;
        color: $grey;
        display: block;
        margin-bottom: 1rem;
        padding-bottom: 8px;
        border-bottom: 1px solid $grey;
        transition-duration: $transition-duration;
        &:focus-visible {
          border-bottom-color: $primary-orange;
        }
        &::-moz-selection,
        &::selection {
          /* Code for Firefox */
          color: $primary-blue;
          background: $grey;
        }
      }
      & > div {
        display: flex;
        #modale-inscription-form-error {
          display: none;
        }
        button {
          display: flex;
          align-items: center;
          justify-content: right;
          margin-left: auto;
          color: $primary-orange;
          svg {
            margin-left: 6px;
          }
        }
      }
    }
  }
}

#aside-menu {
  transform: translateX(-270px);
  transition: 0.2s;
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  height: 100vh;
  width: calc(100vw - 40px);
  background-color: $primary-blue;
  border-right: 2px solid $primary-orange;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
  padding: 10px 25px;
  max-width: 264px;
  nav {
    margin-top: 85px;
    font-weight: 600;
    li {
      margin: 47px 0;
    }
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: $grey;
  #header-navbar {
    width: $max-width;
    margin: 0 auto;
    font-size: 0.8rem;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    color: $primary-blue;
    &-responsive-button {
      display: none;
    }
    a:focus-visible {
      img {
        box-shadow: $boxshadow-focus;
      }
    }
    img {
      height: 32px;
      margin: 15px 0;
    }
    &-navigation {
      display: flex;
      align-items: center;
      font-weight: 600;
      li {
        margin-left: 77px;
        &:first-child {
          margin-left: 0;
        }
        padding: 4px;
        &:focus-within {
          box-shadow: $boxshadow-focus;
        }
        .current-navigation {
          color: $primary-orange;
        }
        a {
          border-bottom: 1px solid transparent;
          &:hover {
            color: $primary-orange;
            border-bottom-color: $primary-orange;
          }
          &:active {
            color: $primary-blue;
          }
          &:focus-visible {
            color: $primary-blue;
            border-bottom-color: $primary-orange;
          }
        }
      }
    }
  }
}

#first-section {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .max-width {
    display: flex;
    justify-content: space-between;
    padding-bottom: 253px;
    position: relative;
    z-index: 3;
    .main-section-title-container {
      align-self: center;
      .section-main-title {
        font-weight: 100;
        font-size: 2.7rem;
        line-height: 3.3rem;
        margin-bottom: 26px;
      }
    }
  }
  #circle-orbit-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin-left: 50%;
    .orbit {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      border-radius: 50%;
      border: 2px #dfe4ec solid;
      -webkit-animation: spin-right 5s linear infinite;
      animation: spin-right 5s linear infinite;
    }
    #inner-orbit {
      width: 30%;
      height: 30%;
      &::before {
        content: "";
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: $grey;
        margin-bottom: calc(100% - 2px);
        @include keyframes(orangeInner) {
          to {
            background-color: rgb(249, 115, 98);
          }
        }
        @include animate(orangeInner, 2.5s);
      }
    }
    #middle-orbit {
      width: 60%;
      height: 60%;
      animation-duration: 10s;
      -webkit-animation-duration: 10s;
      &::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: $grey;
        margin-bottom: calc(100% - 2px);
        @include keyframes(orangeMiddle) {
          to {
            background-color: rgb(236, 171, 167);
          }
        }
        @include animate(orangeMiddle, 3s);
      }
    }
    #outer-orbit {
      width: 100%;
      height: 100%;
      animation-duration: 25s;
      -webkit-animation-duration: 25s;
      animation-name: spin-left;
      -webkit-animation-name: spin-left;
      &::before {
        content: "";
        position: absolute;
        height: 56px;
        width: 56px;
        background-color: $grey;
        border-radius: 50%;
        margin-top: calc(100% - 2px);
        @include keyframes(orangeOuter1) {
          to {
            background-color: rgb(255, 87, 64);
          }
        }
        @include animate(orangeOuter1, 2s);
      }
      &::after {
        content: "";
        position: absolute;
        height: 30px;
        width: 30px;
        background-color: $grey;
        border-radius: 50%;
        margin-bottom: calc(100% - 2px);
        @include keyframes(orangeOuter2) {
          to {
            background-color: rgb(229, 200, 202);
          }
        }
        @include animate(orangeOuter2, 3.5s);
      }
    }
  }
}

#section-dispositif {
  position: relative;
  background-color: $second-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  .max-width {
    padding-top: 252px;
  }
  .out-of-flow {
    max-width: 566px;
    padding: 49px 63px 34px 63px;
    top: -100px;
    #figure-quote {
      blockquote p {
        font-size: 1.5rem;
        line-height: 1.8rem;
      }
      .quotation-mark {
        font-family: "Redressed", cursive;
        color: $primary-orange;
        font-size: 4rem;
      }
    }
    figcaption {
      font-weight: bold;
      margin-top: 12px;
    }
  }
  .section-second-title {
    margin-bottom: 2rem;
  }
  #section-dispositif-content {
    position: relative;
    z-index: 2;
    #dispostif-insight {
      max-width: 563px;
      line-height: 1.2rem;
      #dispositif-insight-title {
        margin-bottom: 1rem;
        display: flex;
        div {
          padding: 2px;
          margin-right: 45px;
          &:focus-within {
            box-shadow: $boxshadow-focus;
          }
          .dispositif-insight-button {
            font-weight: 600;
            color: $second-orange;
            padding: 2px;
            border-bottom: 1px solid transparent;
            &:hover {
              color: $primary-orange;
              border-bottom: 1px solid $primary-orange;
            }
            &[aria-selected="true"],
            &:active {
              color: $grey;
              border-bottom: 1px solid $primary-orange;
            }
            &:focus-visible {
              color: $grey;
              border-bottom: 1px solid $primary-orange;
            }
          }
        }
      }
      #dispositif-insight-description {
        min-height: 77px;
      }
    }
  }
  .gallery {
    display: none;
  }
  &-background {
    position: absolute;
    right: 0;
  }
}

#section-definition {
  display: flex;
  h1 {
    text-align: center;
    margin-bottom: 192px;
  }
  #container-advantage {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
    .advantage-item {
      max-width: 230px;
      text-align: center;
      font-weight: 700;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      &-number {
        position: absolute;
        font-size: 288px;
        color: rgba(255, 87, 64, 0.4);
        z-index: -1;
        user-select: none;
      }
    }
  }
}

#section-webinar {
  background-color: $second-blue;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .max-width {
    padding-bottom: 232px;
  }
  .webinar-decoration {
    width: 302px;
    position: absolute;
    &:first-child {
      left: 0;
    }
    &:last-child {
      right: 0;
      transform: scaleX(-1);
    }
  }
  &-text-container {
    margin: auto;
    max-width: 506px;
    text-align: center;
    h1 {
      margin-bottom: 2rem;
    }
    p {
      line-height: 1.1rem;
      margin-bottom: 1rem;
    }
    a {
      justify-content: center;
    }
  }
  .out-of-flow {
    max-width: 498px;
    bottom: -121px;
    padding: 32px 65px 52px 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      line-height: 1.1rem;
      font-weight: 400;
      text-align: center;
      span {
        font-weight: 700;
      }
    }
    #webinare-informations-next,
    .section-second-title,
    #webinare-informations-subject {
      margin-bottom: 19px;
    }
    p:last-child {
      margin-bottom: 52px;
    }
    .btn-cta {
      position: absolute;
      bottom: -20px;
    }
  }
  .container-external-link {
    justify-content: center;
  }
}

#section-benefice {
  .max-width {
    padding-top: 274px;
  }
  .gallery {
    display: none;
  }
  &-container {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 100px;
  }
  .benefice-item {
    display: flex;
    justify-content: center;
    align-items: center;
    &-title {
      font-weight: 700;
      margin-bottom: 1rem;
      font-size: 1.375rem;
    }
    &-image {
      padding: 24px;
      border: 1px solid $primary-orange;
      border-radius: 50%;
      margin-right: 20px;
    }
    &-description {
      font-size: 1rem;
      line-height: 19px;
      font-weight: 400;
      max-width: 425px;
    }
  }
}

#section-testimony {
  background-color: $second-blue;
  .max-width {
    width: unset;
  }
  h1 {
    text-align: center;
    margin-bottom: 61px;
  }
  .gallery-cell {
    width: 40%;
    margin-right: 10px;
    &-content {
      max-width: 500px;
      margin: 69px auto 0 auto;
      border: 1px solid $primary-orange;
      text-align: center;
      &-image {
        position: relative;
        display: flex;
        justify-content: center;
        &-container {
          position: absolute;
          bottom: -69px;
          width: 139px;
          height: 139px;
          border-radius: 50%;
          overflow: hidden;
          justify-content: center;
          display: flex;
          align-items: center;
          border: 8px solid $second-blue;
          img {
            height: 100%;
          }
        }
      }
      &-name {
        margin: 77px 0 1rem 0;
        line-height: 1.1rem;
      }
      &-quote {
        margin: 0 10% 30px 10%;
        line-height: 1.1rem;
      }
    }
  }
}

footer {
  margin-bottom: 0;
  .max-width {
    padding: 80px 0 96px 0;
  }
  .max-width {
    display: flex;
    justify-content: space-between;
    ul {
      margin-top: 30px;
      font-weight: 100;
      li {
        margin-top: 1rem;
      }
    }
  }
  .footer-link-item {
    display: inline-block;
    padding: 3px;
    &:hover {
      color: rgba(223, 228, 236, 0.6);
      svg path {
        fill: rgba(223, 228, 236, 0.6);
      }
    }
    &:active {
      color: $primary-orange;
      svg path {
        fill: $primary-orange;
      }
    }
    &:focus-visible {
      color: $primary-orange;
      box-shadow: $boxshadow-focus;
      svg path {
        fill: $primary-orange;
      }
    }
  }
  #footer-copyright {
    background-color: $grey;
    color: $primary-blue;
    width: 100%;
    .max-width {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding: 30px 0;
    }
    p {
      font-weight: 600;
      a {
        font-weight: 100;
      }
    }
  }
}
// privacy policy
.privacy-policy-section {
  overflow: hidden;
  position: relative;
}
section .privacy-background {
  position: absolute;
  left: 23px;
  top: -219px;
  width: 100%;
  z-index: -1;
}
.privacy-policy-container {
  margin: 192px 144px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: $grey;
  max-width: 60%;
  text-align: start;

  h1 {
    font-size: 56px;
    line-height: 67px;
    font-weight: 700;
    margin-bottom: 41px;
  }
  h2 {
    font-size: 36px;
    line-height: 38px;
    font-weight: 700;
    margin-bottom: 22px;
  }
  h3 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 24px;
    text-align: start;
  }

  ul li::marker {
    color: $primary-orange;
  }
  ul li {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-align: start;
    list-style: outside;
  }
  ul li:last-child {
    margin-bottom: 24px;
  }
  span {
    font-weight: 700;
  }
  a {
    color: $primary-orange;
    cursor: pointer;
    svg {
      transform: rotate(0.5turn);
    }
  }
  .privacy-sub-container {
    margin-bottom: 69px;
    .privacy-item-container {
      margin-bottom: 38px;
    }
  }
}
