@media screen and (max-width: 1220px) {
  #section-benefice {
    .section-second-title {
      text-align: center;
    }
    &-container {
      grid-template-columns: 1fr;
      gap: 3rem 100px;
    }
    .benefice-item-description {
      max-width: 565px;
    }
    .container-external-link {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 1100px) {
  #circle-orbit-container {
    display: none;
  }
  .webinar-decoration {
    opacity: 0.2;
  }
}

@media screen and (max-width: 1240px) {
  #section-dispositif {
    &-background {
      opacity: 0.2;
    }
  }
}

@media screen and (max-width: 960px) {
  #circle-orbit-container {
    opacity: 0.3;
  }
  #section-dispositif .flickity-page-dots,
  #section-testimony .flickity-page-dots,
  #section-benefice .flickity-page-dots {
    margin-top: 16px;
  }
  .max-width {
    padding: 48px 0;
  }
  header {
    #header-navbar {
      &-responsive-button {
        display: block;
      }
      ul {
        display: none;
      }
    }
  }
  #section-definition {
    h1 {
      margin-bottom: 31px;
    }
    #container-advantage {
      margin-bottom: 0;
      flex-direction: column;
      .advantage-item {
        max-width: unset;
        margin-top: 10px;
        &-content {
          width: 400px;
          text-align: left;
        }
        &-number {
          font-size: 92px;
          position: static;
          color: #ff5740cc;
          font-weight: 400;
          margin-right: 21px;
        }
        &-content {
          font-weight: 400;
        }
      }
    }
  }
  #section-testimony {
    .gallery-cell {
      width: 100%;
    }
  }
}

@media screen and (max-width: 700px) {
  header picture {
    overflow: hidden;
    width: 57px;
    display: block;
  }
  #section-benefice {
    .container-external-link {
      margin-top: 1rem;
    }
    &-container {
      display: none;
    }
    .gallery {
      display: block;
      .cell-item {
        width: 100%;
        .benefice-item {
          display: block;
          max-width: 400px;
          padding: 0 20px;
          margin: 0 auto;
          > div {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
          }
          &-title {
            margin-bottom: 0;
          }
          &-image {
            padding: 15px;
            img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
  header #header-navbar {
    width: 90%;
  }
  .max-width {
    width: 90%;
  }
  .webinar-decoration {
    display: none;
  }
  #section-dispositif {
    .max-width {
      padding-top: 180px;
    }
    .section-second-title {
      text-align: center;
    }
    #section-dispositif-content {
      display: none;
    }
    .gallery {
      display: block;
      &-cell {
        text-align: center;
        width: 100%;
        margin-right: 10px;
        h3 {
          color: #ff5740;
          padding-bottom: 9px;
          font-weight: 600;
        }
        p {
          margin: auto;
          max-width: 328px;
        }
      }
    }
    &-background {
      display: none;
    }
  }
  .section-second-title {
    text-align: center;
  }
  #section-benefice {
    .max-width {
      padding-top: 180px;
    }
  }
  footer {
    .max-width {
      display: block;
      .container-newtworks {
        text-align: center;
      }
      #footer-container-newtworks {
        text-align: center;
      }
      .container-external-link {
        justify-content: center;
      }
    }
    ul {
      text-align: center;
    }
    #footer-copyright {
      .max-width {
        flex-direction: column-reverse;
        text-align: center;
        p:first-child {
          margin-top: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  #first-section .max-width .main-section-title-container {
    .section-main-title {
      font-size: 2rem;
    }
  }
  #section-dispositif .out-of-flow{
    padding: 32px 23px 52px 23px;
  }
  #first-section .out-of-flow {
    padding: 49px 23px 34px 23px;
  }
  #container-modale-inscription {
    #modale-inscription {
      padding: 63px 20px;
      &-close {
        top: 20px;
        right: 20px;
      }
    }
  }
  #section-testimony {
    .gallery-cell {
      &-content {
        margin: 69px 20px 0 20px;
      }
    }
  }
}
@media screen and (max-width: 520px) {
  .privacy-policy-section {
    overflow: hidden;
    position: relative;
  }
  section .privacy-background {
    position: absolute;
    width: 159%;
    left: -109px;
    top: -90px;
    z-index: -1;
  }
  .privacy-policy-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: start;
    margin: 88px 20px;
    max-width: 100%;

    h1 {
      font-size: 40px;
      line-height: 48px;
      font-weight: 700;
      margin-bottom: 16px;
    }
    h2 {
      font-size: 32px;
      line-height: 32px;
      font-weight: 700;
      margin-bottom: 16px;
    }
    h3 {
      font-size: 22px;
      line-height: 26px;
      font-weight: 700;
      margin-bottom: 16px;
    }
    p {
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      margin-bottom: 24px;
      text-align: start;
    }
    p:last-child {
      margin-bottom: 0;
    }
    ul li {
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      text-align: start;
      list-style: outside;
      margin-bottom: 24px;
    }
    ul li:last-child {
      margin-bottom: 24px;
    }
    span {
      font-weight: 700;
    }
    a {
      cursor: pointer;
      svg {
        transform: rotate(0.5turn);
      }
    }
    a:first-child {
      margin-bottom: 24px;
    }
    a:last-child {
      margin-bottom: 24px;
    }
    .privacy-sub-container {
      margin-bottom: 48px;
      .privacy-item-container {
        margin-bottom: 24px;
      }
    }
  }
}
